<div id="modal-banner" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title">Study Rails with <img src="http://geekhub.ck.ua/images/geekhub-logo.png"></h1>
      </div>
      <div class="modal-body">
        <p>Do it! Make your dreams come true! Yesterday you say "tomorrow", so just do it! Write code now, man.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('#modal-banner').modal('toggle');
</script>