// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_body{
  margin-bottom: 10px;
  min-height: 26px;
}
.comments{

  h3{
    margin-bottom: 20px;
  }
}
.comments_box{
  padding-left: 50px;
}
.comments{
  .comment{
    position: relative;
    left: -50px;
    top: 15px;
    margin-bottom: 20px;
  }

  td{
    vertical-align: top;
  }
  td:first-child{
    padding-right: 10px;
  }
  h4{
    margin-top: 0;
  }
}
