thead th:nth-child(1){
    border-top-left-radius: 8px;
}
thead th:last-child{
    border-top-right-radius: 8px;
}
tbody tr:last-child td:first-child{
    border-bottom-left-radius: 8px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 8px;
}
th{
    font-size: 18px;
}
td{
    padding: 5px 10px;
}
table a{
    border-radius: 5px;
    padding: 3px;
    color: #0088cc;
    text-decoration: none;
}
table a:visited{
    color: #0088cc;
}
table a:hover{
    color: white;
}
thead{
    background-color: #fbf0cb;
}
thead th{
    padding: 10px 0
}
tbody tr:nth-child(odd){
    background-color: #efefef;
}
tbody tr:nth-child(even) {
    background-color: #efefef;
}
body > a{
    background-color: #ffd545;
    border-radius: 7px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}
body > a:visited{
    color: white;
}
input[type='text'], textarea{
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #d4d7da;
    width: 250px;
}
textarea{
    min-height: 50px;
    resize: none;
}
input[type='submit']{
    background-color: #5ebc5e;
    border-radius: 7px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: #228b22;
}
body p{
    font-size: 16px;
}